@import "tailwindcss";

@layer base {
  h1 {
    @apply text-5xl font-bold;
  }

  h2 {
    @apply text-slate-600 text-lg mt-2;
  }

  h3 {
    @apply text-slate-900 font-medium;
  }
}

@layer components {
  .button {
    @apply px-6 py-4 rounded-md transition-all duration-150 font-semibold text-base;
  }

  .button--secondary {
    @apply bg-white text-slate-700 border-2 border-slate-300 hover:bg-slate-100 hover:text-slate-900 px-3 py-2;
  }
}

@layer utilities {
  .container {
    @apply max-w-6xl w-[85%] mx-auto;
  }

  header .active {
    color: var(--color-indigo-500) !important;
  }
}
